

{{!--Welcome--}}
<h2>Welcome</h2>

  {{#if loggedIn}}
  <p class="user-name"> {{singleUser.role.name}}: {{singleUser.name}} {{singleUser.last_name}}</p>
 


 <div class="card">
   <div class="title">
    <h2>Patient Info</h2>
   </div>
   <p >Name: <span class="p-info" id="pat-name">{{singlePatient.p_name}}</span></p>
   <p>Last Name: <span class="p-info">{{singlePatient.p_lname}}</span> </p>
   <p>Email:<span class="p-info"> {{singlePatient.p_email}}</span></p>
   <p>Reason for visit: <span class="p-info"> {{singlePatient.p_condition}}</span> </p>
   <p>Date of Birth: <span class="p-info"> {{singlePatient.p_dob}} </span> </p>

   <h2>Consultation note</h2>
      <div class="contact">
        <form id="email-form">
        <div class="full">
            
            <textarea placeholder="Doctor's note" class="note-comment" style="resize: none;" name="comment-body" rows="5" id="doc-comment"></textarea>
        </div>

        <div>
            <button class="btn" id="update-btn">Submit</button>
        </div>
        <div>
          <a href="/profile">Go back</a>
        </div>
        </form>
      </div>  
    </article>
  </li>
</ol>
 </div>

{{!-- pateint list --}}

      {{!-- send patient email --}}
      
 {{/if}}
<script src="/javascript/single-patient.js"></script>